div#tools
  div#Star.right Star
  div#Select.right Select
  div#Blue.right Blue
div#body
  canvas#canvas(width="1000", height="600");  

script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js')
script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.js')
script(src='/javascripts/squid.js')
script(src='/javascripts/impl.js')


