div#tools
  div#Star.right Star
  div#Select.right Select
  div#Blue.right Blue
  div#Free.right Freehand
  div#Line.right Line
  div#Controls.right Controls
  div#Dynamic.right Dynamic 
div#body
  canvas#canvas(width="1000", height="600");  


script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js')
script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.js')
script(src='/javascripts/framework.js')
script(src='/javascripts/prototypes.js')
script(src='/javascripts/vector.js')
script(src='/javascripts/hashmap.js')
script(src='/javascripts/shape.js')
script(src='/javascripts/tools/common.js')
script(src='/javascripts/tools/pencil.js')
script(src='/javascripts/tools/liner.js')
script(src='/javascripts/tools/single.js')
script(src='/javascripts/tools/freehand.js')
script(src='/javascripts/tools/straight.js')
script(src='/javascripts/squid.js')
script(src='/javascripts/impl.js')


